@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
  background-color: white;
}

.flex-container {
  display: flex;
  align-items: baseline;
}

.item {
  margin: 0 10px;
}

.item_first {
  margin-left: -10px;
}

.section_class {
  font-family: 'Poppins', sans-serif;
  background-image: url("img/header-shapes\ mobile.png.png");
  margin-left: 15px;
  justify-content: center;
  height: 580px;
  width: 375;
}

.logo-div {
  /* My Logo */
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  /* identical to box height, or 111% */
  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */
  color: #6070ff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 15px;
}

.hamburger_icon {
  margin-left: auto;

  /* position: absolute; */
  left: 16.67%;
  right: 16.67%;
  top: 50%;
  bottom: 50%;

  /* Base / 300 - Tertiary

For small, less significant text and placeholders.
*/
  border: 2px solid #fff;
}

.hamburger_icon-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.section_head {
  /* Primary Text */

  width: 327px;
  height: 150px;

  /* Header / 2 */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */
  display: flex;
  align-items: center;

  /* Neutrals/N800 */
  color: #172b4d;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.section_body {
  width: 327px;
  height: 146px;

  /* Body / 2 */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */
  color: #344563;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.connect {/* LET’S CONNECT */
  width: 117px;
  height: 24px;

  /* Body / 2 - Bolder */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Primary/B300 */
  color: #7f8cff;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.twitter {
  /* Vector */

  position: absolute;
  left: 6.4%;
  right: 88.27%;
  top: 77.81%;
  bottom: 18.88%;

  /* Neutrals/N400 */
  background: #505f79;
  background-image: url("img/Vector-3.png");
}
